.navbar-default {
    background-color: #ff5b00;
    border-color: #ff5b00;
}

.navbar {
    min-height: 60px;
}

.navbar-brand {
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 33px;
    color:#fff!important;
}
.navbar-nav > li > a {
    color: #fff!important;
    padding-top: 20px;
}

.navbar-nav > li > a:hover{
    border-bottom: 3px solid #fff; 
}

.downloadapp-button{
    border-radius: 0;
    padding: 20px 60px;
}

label span.text-danger{
    font-size: 25px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
    background-color: #ec971f !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    background-color: #ec971f;
    color: #fff;
}

.dropdown-header, .dropdown-menu > li > a{
    line-height: 2.6;
}

.createIndividualButton{
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 25px 30px;
    border-radius: 50px;
    box-shadow: none;
    background-color: #ff5b00;
    border: none;
    color: #FFF;
    font-size: 20px;
}

.createIndividualButton:focus,
.createIndividualButton:hover{
    background-color: #ec971f;
    color: #fff;
}

.createIndividualButton:hover{
    color: #FFF;
}
.createIndividualButton:focus{
    color: #FFF;
    box-shadow: 1px 1px 5px black;
}
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#000;
}

.search-query:focus + button {
    z-index: 3;   
}

footer{
    background-color: #808080;
    color: #FFF;
}

footer a{
    color: #FFF;
    text-decoration: underline;
}

footer a:hover,
footer a:focus{
    color:#ec971f;
}

footer .container{
    padding: 30px 0;
}

footer .container ul{
    list-style: none;
}

footer .first-level{
    padding: 0;
}

footer .fa-android{
    font-size: 70px;
}

footer .fa-android:hover{
    color: #A4C639;
}

.carousel-control {
    line-height: 11;
    color: #000;
    font-size: 400%;
}

.carousel-control.left{
    background-image: none;
}

.carousel-control.right{
    background-image: none;
}

@media (max-width:480px){
    .createIndividualButton{
        padding: 15px 20px;
        z-index: 2000;
    }
    footer .first-level{
        padding: 0px 20px;
    }
    footer .map{
        padding: 10px;
    }
}