html { height: 100%; overflow: hidden; }
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
}
h1 {
    text-align: center;
    font-size: 400%;
    color: #808080;
}

h2 {
    text-align: center;
    font-size: 200%;
    color: #808080;
}
#projeto {
    background: url('/img/pencil-1486278.jpg') center center;
    background-size: cover;
    
}

#justificativa {
    background: url('/img/light-bulb-1246043.jpg') center center;
    background-size: cover;
}

#objetivo {
    background: url('/img/web-1526101_1920.jpg') center center;
    background-size: cover;
}

#como-funciona {
    background: url('/img/mechanics-1501861_1920.jpg') center center;
    background-size: cover;
}

#aplicativo {
    background: url('/img/iphone-676726_1920.jpg') center center;
    background-size: cover;
}

#dislexia {
    background: url('/img/dislexia.jpg') center center;
    background-size: cover;
}
.para-slide {
    position: relative;
    padding: 15% 10%;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}
#secao3 p { color: #fff; font-size: 40px; }


.navbar{
    margin-bottom: 0;
}

.logo-leiamais{
    margin: auto;
}

.text-box{
    background-color: rgba(255,255,255,0.9);
    top:100px;
    padding: 20px;
}

.text-box h1{
    color: #808080!important;
    font-weight: 700;
    font-size: 800%;
}

.text-box h2 {
    text-align: justify;
    font-size: 200%;
    color: #808080;
}

.text-box ul li{
    font-size: 150%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}


@media (max-width:480px){
    .text-box h1{
        color: #808080!important;
        font-weight: 700;
        font-size: 200%;
    }

    .text-box h2{
        color: #808080!important;
        font-weight: 700;
        font-size: 150%;
    }

    #secao1{
        background: #fff;
    }
}