#testsModal .modal-dialog .modal-content{
    border-radius: 0px;
}
#testsModal .modal-dialog .modal-header{
    background-color: #3097D1;
    color: #fff;
}
.individual-title h3{
    display: inline;
}
teste-image{
    width: 100%;
}
.teste-image .fa-gamepad{
    font-size: 300%;;
    text-align: center;
}

.right{
    color: rgb(0, 179, 0);
}

.wrong{
    color: rgb(255, 0, 0);
}

.in-review{
    color:#3097D1;
}