html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 70vh;
    margin: 0;
}

.full-height {
    height: 93vh;
    top: 0px;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    background: url('/img/board-73496.jpg') center center;
    background-size: cover;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #ec971f;
    width: 100%;
    height: 60px;
    text-align: right;
    line-height: 60px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #fff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
    padding-bottom: 18px; 
}

.links > a:hover {
    border-bottom: 3px solid #fff; 
}

.m-b-md {
    line-height: 150px;
    color: #fff;
}
.navbar{
    margin-bottom: 0 !important;
}
.title span{
    font-weight: 700;
}

.title i{
    font-size: 40px;
}

@media (max-width:480px){
    .title span{
        font-size: 40px;
    }
    .flex-center .content h2{
        font-size: 20px
    }
    .m-b-md {
        line-height: 50px;
    }
}